# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv
env/
venv/
bin/

# Distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Project Outputs (Prevent committing large data/models)
output/
artifacts/
*.pkl
*.joblib
*.csv
!src/**/*.csv  # Keep source CSVs if any